.EventsList{
	padding: 30px 0;	
	&__title{
		width: 100%;
		font-size: 1.25rem;
		line-height: 1.4;
		b{
			font-weight: 500;
		}
	}
	&__cardscontainer{
		.EventCard{
			width: calc( 25% - 23px);
			margin-right: 30px;	
			&:nth-child(4n-4){
				margin-right: 0;
			}
		}
	}
}

@media only screen and (max-width: 1199px){
	.EventsList{
		&__cardscontainer{
			.EventCard{
				width: calc( 50% - 15px);
				&:nth-child(3n-3){
					margin-right: 30px;
				}
				&:nth-child(2n-2){
					margin-right: 0;
				}
			}
		}
	}	
}
@media only screen and (max-width: 599px) {
	.EventsList{
		padding-top: 15px;
		&__title{
			margin-bottom: 15px !important;
		}
		&__cardscontainer{
			.EventCard{
				width: 100%;
				margin-right: 0;
				&:nth-child(3n-3){
					margin-right: 0;
				}
			}
		}
	}
}