.UserSelect {
	font: 1rem 'Roboto', sans-serif;
    border: 0 none;
    border-radius: 3px;
    padding: 0.5rem 3rem 0.5rem 1rem;
    margin-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) 50%, calc(100% - 15px) 50%, calc(100% - 2.5rem) 0.5rem;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
	width: 300px;
	background-color: #FFF;
	&:active{
		outline: none
	}
}
.uninstantiated .UserSelect {
	font-size: 1.375rem;
	width: 40%;
}
@media only screen and (max-width: 1199px){
	.UserSelect{
		margin-bottom: 15px;
		width: calc(50% - 8px);
		height: 42px;
	}
	.uninstantiated .UserSelect{
		width: 100%;
	}
}
@media only screen and (max-width: 599px){
	.uninstantiated .UserSelect{
		font-size: 1.125rem;
	}
}
