.EventCard{
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	margin-bottom: 30px;
	position: relative;
	padding: 15px;
	line-height: 1.4;
	justify-content: space-between;
	&__tag{
		position: absolute;
		top: 8px;
		right: 0;
		background: #feb15f;
		color: #FFF;
		font-size: 0.75rem;
		padding: 6px 4px;
		text-transform: uppercase;
		line-height: 1;
		&:after{
			right: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-right-color: #feb15f;
			border-width: 12px;
			margin-top: -12px;
		}
	}
	&__title{
		color: #333;
		font-size: 1.5rem;
		margin-bottom: 8px;
		line-height: 1.4;
		padding-top: 15px;
		// height: 81px;
		overflow: hidden;
	}
	&__desc{
		color: #666;
		margin-bottom: 20px;
		line-height: 1.5;
		word-wrap: break-word;
		// height: 120px;
		overflow: hidden;
		& p{
			display: inline;
		}
	}
	&__location{
		margin-bottom: 15px;
		color:#39c;
		line-height: 1.4;	
		font-size: 0.938rem;	
		&icon{
			width: 16px;
			margin-right: 4px;
			transform: translateY(1px);
			svg, path{
				fill: #999;
			}
		}
	}
	&__date{
		margin-right: 30px;
		&:first-child{
			margin-bottom: 15px;
		}
		&label{
			text-transform: uppercase;
			font-size: 0.75rem;
			margin-bottom: 4px;
			font-weight: 500;
			color:#666;
		}
		&icon{
			margin-right: 4px;
			width: 18px;
			transform: translateY(1px);
			svg, path{
				fill: #999;
			}
		}
		&data{
			font-size: 0.875rem;
		}
	}
}