.AppSearch{
	position: relative;
	padding: 30px 0;
	background: #000 url('../../assets/images/main-banner.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	border-top: 1px solid #CCC;
	height: 140px;
	transition: all 450ms ease-in-out;
	* {
		transition: all 450ms ease-in-out;
	}
	.App__container {
		height: 100%;
	}
	.App__btn{
		&:last-child {
			margin-right: 0;
		}
		&icon {
			height: 100%;
			display: inline-block;
			margin-right: 8px;
		}
	}
}
.uninstantiated .AppSearch {
	height: calc(100vh - 65px);
	min-height: 400px;
}
@media only screen and (max-width: 1199px) {
	.AppSearch{
		height: auto;
		.App__container{
			flex-direction: column;
		}
	}
	.uninstantiated .AppSearch {
		height: calc(100vh - 65px);
		.App__container{
			flex-direction: row;
		}
	}
}
@media only screen and (max-width: 599px) {
	.AppSearch{
		padding: 15px 0;
	}
}
